@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Naam: @Name

<button @onclick="ChangeName">Verander naam</button>



<EditForm Model="NewCharacter" OnValidSubmit="AddCharacter">
    <FluentValidationValidator />
    
    <ol>
        <li>
            <label for="input-name">Naam:</label>
            <input id="input-name" @bind-value="NewCharacter.Name"/>
            <ValidationMessage For="() => NewCharacter.Name"/>
        </li>
        <li>
            <label for="input-is-bender">Kan benden?</label>
            <input type="checkbox" id="input-is-bender" @bind-value="NewCharacter.IsBender"/>
            <ValidationMessage For="() => NewCharacter.IsBender"/>
        </li>
        <li>
            <label>Elementen:</label>
            @* <select multiple> *@
            @*     <option>Earth</option> *@
            @*     <option>Air</option> *@
            @*     <option>Fire</option> *@
            @*     <option>Water</option> *@
            @* </select> *@
        </li>
        <li>
            <label for="input-photo-url">Foto URL:</label>
            <input type="url" id="input-photo-url" @bind-value="NewCharacter.PhotoUrl" @bind-value:event="oninput"/>
            <ValidationMessage For="() => NewCharacter.PhotoUrl"/>
        </li>
        <li>
            <label id="input-nation">Natie:</label>
            <select asp-items="Model.NationOptions" asp-for="NewCharacter.NationId"></select>
        </li>
        <li>
            <button>Add character</button>
        </li>
        <li>
            @JsonSerializer.Serialize(NewCharacter)
        </li>
    </ol>
</EditForm>

@if (AvatarCharacters == null || !AvatarCharacters.Any())
{
    <p>Geen data.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Kan benden</th>
            <th>Elementen</th>
            <th>Natie</th>
            <th>Fotootje</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var character in AvatarCharacters)
        {
            <tr>
                <td>@character.Id</td>
                <td>@character.Name</td>
                <td>@character.IsBender</td>
                <td>@(character.Elements == null ? "niks" : string.Join(", ", character.Elements))</td>
                <td>@character.Nation?.Name</td>
                <td>
                    <img src="@character.PhotoUrl">
                </td>
            </tr>
        }
        </tbody>
    </table>
}